.Title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 10vh;
}

.map-container{
    height: 90vh;
}
.Title-container img{
    width: 3 rem;
}